{
    "printWidth": 120,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "arrowParens": "always",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "useTabs": false,
    "htmlWhitespaceSensitivity": "css"
}
