body{
    width: 600px;
    height: 600px;
    margin:0;
    padding:0;
    /* background:url(pic1.jpg); */
    /* background-size: cover; */
    /* background-position: center; */
    font-family:sans-serif;
}

#response {
    width: 300px;
    height: 300px;
    /* border: 1px solid blue;  */
    background-color: lightgrey
}

#error {
    width: 300px;
    height: 100px;
    color:red;
    padding: 20px;
    margin: 20px;
    font-size: 16px;
}
#error p {
    color: red; 
}

.loginbox {
    width: 300px;
    height: 400px;
    background:cadetblue;
    /* background-color: whitesmoke;  */
    color:#fff;
    top: 50%;
    left: 50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box; 
    padding: 70px 30px;
    /* background-position: center; */
}
.avatar {
    width:100px;
    height:100px;
    border-radius:50%;
    position:absolute;
    top:-50px;
    left: calc(50% - 50px);
}

.loginbox h1
{
    margin:0;
    padding:0 0 20px;
    text-align:center;
    font-size:22px;
}

.loginbox p
{
    margin:0;
    padding:0;
    font-weight:bold;
}
.loginbox input
{
    width:100%;
    margin-bottom:20px;

}
.loginbox input[type="text"], input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color:white;
    font-size:16px;
}
.loginbox input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height:40px;
    color: #fff;
    font-size:16px;
}


.loginbox input[type="submit"]
{
    border:none;
    outline: none;
    height:40px;
    background: #fb2525;
    color:#fff;    
    font-size:18px;
    border-radius:20px;
}

.loginbox input[type="submit"]:hover
{
    cursor:pointer;
    background: #ffc107;
    color:#fff;    

}

.invisible {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

.visible {
    visibility: visible;
    position: static;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
}

.optionstable{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14pt;
  }
  
.optionstable td, .optionstable th {
    border: 1px solid #ddd;
    padding: 8px;
}
.optionstable tr{
    background-color:#ccc;
}


.optionstable tr:nth-child(even){
    background-color: #f2f2f2;
}

.optionstable tr:nth-child(old){
    background-color: #ccc;
}

.optionstable tr:hover {
    background-color: #ddd;
}

.optionstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

input[type=text], input[type="password"] select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit], input[type=reset], input[type=button] {
    width: 100%;
    background-color:rgb(25, 74, 209);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button] {
    background-color:rgb(25, 74, 209);
}

input[type=submit]:hover {
    background-color:rgb(25, 74, 209);
}

div .optionstable {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.label {
    font-style: italic;
    text-align: right;
}

.data{
    font-weight:bold;
    text-align: left;
}

.headingseverity{
    float:right;
    padding: 2px 0px 2px 0px;
    margin: 0px 0px 0px 0px;
    width: 80px;
}



.headingreference{
    float: left;
}


.criticalSeverity{
    /* color: red; */
    /* font-weight:bold; */
    background-color: red;
}
.highSeverity{
    background-color: #fb2525;
    font-weight:bold;
}

.mediumSeverity{
    background-color: rgb(243, 134, 45);
    font-weight:bold;
}

.lowSeverity{
    background-color: rgb(240, 210, 76);
    font-weight:bold;
}

.noneSeverity{
    background-color: silver;
    font-weight:bold;
}
.numissues{
    padding: 1px;
    margin: 1px;
    
}
.maxIssue{
    padding: 4px;
    margin: 4px;
}


#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid white;
    border-radius: 50%;
    border-top: 16px solid white;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;    
}

.loader {
    height: 600px;
    width: 600px;


  }
.loader img {
    object-fit: cover;
    object-position: top;
    display: block;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow: hidden;    
  }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
  
  /* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
  
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
  
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
  
#tabs  {
    display: none;
    text-align: center;
}