.smaller-font-for-legal {
    font-size: 10px;
}

#legalTabList {
    font-size: var(--nx-font-size-s);
}

#license-table {
    margin-top: 10px !important;
}

.nx-tab-ext {
    color: hsl(214, 96%, 80%);
}
