.vuln-severe {
  border: 3px solid red !important;
  border-radius: 10px;
  padding: 5px;
}

.vuln-high {
  border: 3px solid orangered !important;
  border-radius: 10px;
  padding: 5px;
}

.vuln-med {
  border: 3px solid orange !important;
  border-radius: 10px;
  padding: 5px;
}

.vuln-low {
  border: 3px solid yellow !important;
  border-radius: 10px;
  padding: 5px;
}

.vuln:before {
  content: url("chrome-extension://__MSG_@@extension_id__/images/turtle-right-vulnerable-48x48.png");
}
