
.nx-page {
  min-width: 800px !important;
  min-height: 600px !important;
  padding: 5px !important;
}

.nx-page-main {
  padding: 0px !important;
}


.nx-tile {
  padding: 10px !important;
}
.nx-counter {
  margin-left: var(--nx-spacing-2x) !important;
}
.nx-popup-logo {
  vertical-align: middle;
}

:not(.nx-tile-subsection__header)+.nx-tile-subsection:first-of-type {
  border-top: none !important;
  margin-top: var(--nx-spacing-2x) !important;
  padding-top: 0px !important;
}

.nx-policy-violation-indicator {
  margin: 0 var(--nx-spacing-4x) var(--nx-spacing-2x) 0 !important;
}

.nx-footer {
  font-size: var(--nx-font-size-xs);
  margin-bottom: 10px !important;
  padding-top: 7px !important;
}

.nx-counter {
  border-radius: 16px !important;
  font-size: 12px !important;
  min-width: none !important;
  vertical-align: text-top;
}