.vuln-severe {
  /*background-color: red !important;*/
  /*background-image: url('images/IQ_Vulnerable.png');*/
  /*background-repeat: no-repeat;*/
  /*padding-left: 30px;*/
  /*display: block;*/
}
/* 
.vuln-high {
  background-color: yellow !important;
}

.vuln-med {
  background-color: blue !important;
}

.vuln-low {
  background-color: green !important;
} */

.vuln:before {
  content: url("chrome-extension://__MSG_@@extension_id__/images/SON_logo_favicon_Vulnerable.png");
}
