.nx-accordion__summary-wrapper {
    vertical-align: middle;
    min-height: 0px !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.nx-accordion {
    vertical-align: middle;
    min-height: 0px !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.nx-policy-violation-indicator {
    margin: 0px !important;
}
