.nx-accordion__summary-wrapper {
    vertical-align: middle;
    min-height: 0px !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.nx-accordion {
    vertical-align: middle;
    min-height: 0px !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
}

.nx-list-in-cell:first-child {
    border: none !important;
    padding-top: 0px;
}

.nx-list__text {
    font-weight: 400 !important;
}

.nx-policy-violation-indicator {
    width: unset !important;
}

.nx-policy-violation-indicator__text {
    font-weight: bold !important;
}
